.container{
  display: block;
  margin-top: 1rem;
}

.info-text{

  text-align: center;
  color:white;
}

.imagePreview{
  height:200px;

  margin:1rem 0;
}
 .imagePreview img{
   height: 100%;
   box-shadow: 1px 1px 5px rgba(0,0,0,5);
 }
